@font-face {
    font-family: 'Genshin';
    src: url('./font/zhcn.ttf');
}

html {
    font-family: 'Genshin', sans-serif;
    cursor: url("./img/UI/cursor.cur"), default;
}

#main {
    background-color: white;
}

#download-grid {
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;

    height: 100px;
    width: 100px;

    background-color: #50586b;
    color: white;
}

#download-grid:hover {
    background-color: #485365;
}



#main-grid{
    display: grid;
    grid-template-columns: 160px repeat(6, 160px);
    gap: 4px;
}

#special-choices{
    display: grid;
    grid-auto-columns: 160px;
    grid-auto-flow: column;
    gap: 4px;
}

.special-cell-title {
    height: 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header-img {
    max-width: 128px;
}

.row-header-img {
    max-width: 128px;
    min-height: 128px;
}






.cell {
    min-height: 160px;
    border: 3px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: white;
}

.cell-img {
    max-width: 150px;
    max-height: 150px;
}

.selection-cell:hover {
    background-color: #eee;
}

.first-cell {
    background-color: #50586b;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.6);
}

.modal.hidden {
    display: none;
}

#modal-title {
    text-align: center;
}

.modal-content {
    position: relative;

    width: 700px;
    min-height: 300px;

    padding: 30px;

    background-color: white;
    border-radius: 20px;
}





.close-button {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 40px;
    height:40px;

    padding: 6px;

    border: none;
    border-radius: 50%;
    background: #cacaca;

    
    cursor: pointer;
}
.close-button:hover {
    background-color: #a5a5a5;
}
.close-button img{
    width: 100%;
    height: 100%;
}

#character-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    max-height: 500px;
    overflow-y: auto;
}

.character-option {
    padding: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
    text-align: center;
}

.option-img {
    max-width: 128px;
    max-height: 128px;
    
}

.character-option:hover {
    background-color: #eee;
}





.pyro-cell{
    background-color: #f59f7d;
}
.pyro-cell:hover{
    background-color: #fa895c;
}
.selected-cell.pyro-cell{
    border: 5px outset #ed4f45;
}

.hydro-cell{
    background-color: #73a9ff;
}
.hydro-cell:hover{
    background-color: #4e8ef5;
}
.selected-cell.hydro-cell{
    border: 5px outset #4088ff;
}

.dendro-cell{
    background-color: #abeb8f;
}
.dendro-cell:hover{
    background-color: #8dd46e;
}
.selected-cell.dendro-cell{
    border: 5px outset #7bb42d;
}

.electro-cell{
    background-color: #bd9adb;
}
.electro-cell:hover{
    background-color: #ad7ed6;
}
.selected-cell.electro-cell{
    border: 5px outset #d376f0;
}

.anemo-cell{
    background-color: #94ebc2;
}
.anemo-cell:hover{
    background-color: #67dba5;
}
.selected-cell.anemo-cell{
    border: 5px outset #33ccb3;
}

.cryo-cell{
    background-color: #abeff5;
}
.cryo-cell:hover{
    background-color: #94eaf2;
}
.selected-cell.cryo-cell{
    border: 5px outset #98c8e8;
}

.geo-cell{
    background-color: #f5e78e;
}
.geo-cell:hover{
    background-color: #f2e068;
}
.selected-cell.geo-cell{
    border: 5px outset #cfa726;
}

.favorite-cell{
    background: linear-gradient(#fac5c9, #b7e8ff);
}
.favorite-cell:hover{
    background: linear-gradient(#e2a7d2, #a5e8fd);
}
.selected-cell.favorite-cell{
    border-image: linear-gradient(to bottom right, #f986d1, #54a3f8) 1;
    border-width: 5px;
}

.nod-krai-cell {
    background-color: #a299b8;
}
.nod-krai-cell:hover {
    background-color: #8e86ad;
}


.pyro-text {
    color: #ed4f45;
}

.hydro-text{
    color: #4088ff;
}

.dendro-text{
    color: #7bb42d;
}

.electro-text {
    color: #d376f0;
}

.anemo-text {
    color: #33ccb3;
}

.cryo-text {
    color: #98c8e8;
}

.geo-text {
    color: #cfa726;
}

.nod-krai-text {
    color: #e8cefe;
}

