@font-face {
    font-family: 'Genshin';
    src: url('./font/zhcn.ttf');
}

html {
    font-family: 'Genshin', sans-serif;
}



#main-grid{
    display: grid;
    grid-template-columns: 160px repeat(6, 160px);
    gap: 4px;
}

.header-img {
    max-width: 128px;
}

.row-header-img {
    max-width: 128px;
    min-height: 128px;
}

.cell {
    min-height: 160px;
    border: 1px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: center;
}

.first-cell {
    background-color: #1b1b1b;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}

.cell-img {
    max-width: 150px;
    max-height: 150px;
}

.modal {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.6);
}

.modal.hidden {
    display: none;
}

.modal-content {
    position: relative;

    width: 600px;
    min-height: 300px;

    padding: 30px;

    background-color: white;
    border-radius: 10px;
}

.option-pyro-bg{
    background-color: #ff8359;
}

.option-hydro-bg{
    background-color: #3b7fff;
}

.option-dendro-bg{
    background-color: #63db73;
}

.option-electro-bg{
    background-color: #b07ec4;
}

.option-anemo-bg{
    background-color: #6fe8ba;
}

.option-cryo-bg{
    background-color: #75e0e6;
}

.option-geo-bg{
    background-color: #e6e165;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;

    border: none;
    background: none;

    font-size: 24px;
    cursor: pointer;
}

#character-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.character-option {
    padding: 15px;

    border: 1px solid #ccc;
    border-radius: 5px;

    cursor: pointer;
    text-align: center;
}

.option-img {
    max-width: 128px;
    max-height: 128px;
    
}

.character-option:hover {
    background-color: #eee;
}